@media only screen and (max-width: 1024px)  {
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .projects,
    footer,
    .hero {
        padding: 0 15px; 
    }
    .thumbnail-project {
        width: 47%;
    }
    .thumbnail-project-image {
        height: auto;
    }
    .thumbnail-project-image img {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 800px)  {
    .wrapper {
        display: flex;
        justify-content: space-around;
        gap: unset;
    }
}

@media only screen and (max-width: 768px)  {
    h1 {
        font-size: 2.6rem;
    }
    h4 {
        font-size: 1.6rem;
    }
    .hero {
        margin: 100px 0;
    }
    .hero-title {
        padding-bottom: 25px;
    }
    .thumbnail-project-image {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 530px)  {
    h1 {
        font-size: 2rem;
        line-height: 4rem;
    }
    .wrapper {
        flex-direction: column;
    }
    .thumbnail-project {
        width: 100%;
        max-width: none;
        margin-bottom: 40px;
    }
    .thumbnail-project:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 430px)  {
    .hero .container {
        flex-direction: column;
        align-items: center;
    }
    .hero .container img {
        margin-bottom: 20px;
    }
    .hero .container {
        text-align: center;
    }
    .hero-content {
        padding-left: 0;
    }
}


@media only screen and (max-width: 360px)  {
    h1 {
        font-size: 2rem;
        line-height: 3.7rem;
    }
}