.btn {
    @include font(normal, 500, 1.6rem, 2.0rem);
    padding: 10px 16px;

    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(241, 110, 110, 0.25);
    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: all .4s ease-in-out;

    &:hover {
        background: $color-primary;    
        color: $color-primary-light;   
    }
}