.projects {
    margin-bottom: 110px;
}
.wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 44px;
}
.thumbnail-project {
    max-width: 428px;
    margin-bottom: 30px;
}
.thumbnail-project-image {
    border-radius: 8px;
    height: 280px;
    overflow: hidden;
    margin-bottom: 30px;
}
.thumbnail-project-image img{
    width: 428px;
 
    &:hover {
       transition: transform .5s ease-in-out;
       transform: scale(1.1);
    }
}
.thumbnail-project-title {
    color: $color-dark-700;

    &:hover {
        color: $color-primary;
    }
}