.hero {
    margin: 148px 0;
}
.hero .container {
    max-width: 794px;
    display: flex;
    align-items: flex-start;
}
.hero-content {
    padding-left: 50px;
}
.title {
    color: $color-primary-dark;
}
.hero-title {
    padding-bottom: 55px;
}